@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using System.Linq
@model LongUrl.ViewModels.IndexViewModel

@if (@Model != null)
{
    if (!@Model.OutSuccess)
    {
        <div class="alert alert-warning" role="alert">
            @SharedLocalizer["error"]
        </div>
    }

    else if (@Model.OutUrl != null && @Model.OutUrl.Any())
    {
        if (Model.OutUrl.Count == 1)
        {
            <p class="font-weight-bold text-success">@SharedLocalizer["success"]</p>
        }
        else if (Model.OutUrl.Count > 1 && Model.InMultiUrl)
        {
            <p class="font-weight-bold text-success">@SharedLocalizer["success"]</p>
        }
        else
        {
            <p class="font-weight-bold text-success">@SharedLocalizer["success_chain"]</p>
        }

        foreach (string item in @Model.OutUrl)
        {
            <a href="@item" target="_blank">@item</a>
            <br />
        }

        <div class="space"></div>

        if (@Model.InAntivirus && !Model.InMultiUrl)
        {
            if (@Model.OutSafeBrowsing)
            {
                <p class="gsb">
                    <span class="virusOff">@SharedLocalizer["safe"]</span>
                    <span class="rem"> @SharedLocalizer["checked"] <a href="https://www.google.com/transparencyreport/safebrowsing" target="_blank" title="@SharedLocalizer["gsafebrowsing"]">Google</a></span>
                </p>
            }
            else
            {
                <p class="gsb">
                    <span class="virusOn">@SharedLocalizer["unsafe"]</span>
                    <span class="rem"> @SharedLocalizer["checked"] <a href="https://www.google.com/transparencyreport/safebrowsing" target="_blank" title="@SharedLocalizer["gsafebrowsing"]">Google</a></span>
                </p>
            }

            if (@Model.OutAntivirusStatus == AntivirusStatusType.Error)
            {
                <p class="drweb">
                    <span class="font-weight-bold text-secondary" style="padding-left: 40px;">@SharedLocalizer["viruserr"]</span>
                </p>
            }
            else if (@Model.OutAntivirusStatus == AntivirusStatusType.Clear)
            {
                <p class="drweb">
                    <span class="virusOff">@SharedLocalizer["notinfected"]</span>
                    <span class="rem"> @SharedLocalizer["checked"] <a href="http://www.drweb.com" target="_blank" title="@SharedLocalizer["drweb"]">Dr.Web</a></span>
                    <a class="btn btn-link btn-log" data-toggle="collapse" href="#log" role="button" aria-expanded="false" aria-controls="log">@SharedLocalizer["viruslog"]</a>
                </p>
                <div class="collapse" id="log">
                    <div class="card card-body" style="font-size: small;">@Html.Raw(@Model.OutAntivirusMessage)</div>
                </div>
                <div class="space"></div>
            }
            else
            {
                <p class="drweb">
                    <span class="virusOn">@SharedLocalizer["infected"]</span>
                    <span class="rem"> @SharedLocalizer["checked"] <a href="http://www.drweb.com" target="_blank" title="@SharedLocalizer["drweb"]">Dr.Web</a></span>
                    <a class="btn btn-link btn-log" data-toggle="collapse" href="#log" role="button" aria-expanded="false" aria-controls="log">@SharedLocalizer["viruslog"]</a>
                </p>
                <div class="collapse" id="log">
                    <div class="card card-body" style="font-size: small;">@Html.Raw(@Model.OutAntivirusMessage)</div>
                </div>
                <div class="space"></div>
            }
        }
    }
}