@model LongUrl.ViewModels.IndexViewModel

@if (@Model != null)
{
    if (!@Model.OutSuccess)
    {
        <p class="alert-danger">Ошибка</p>
        return;
    }

    if (@Model.OutUrl != null && @Model.OutUrl.Any())
    {
        if (Model.OutUrl.Count == 1)
        {
            <p><span class="text-success">Короткая ссылка расшифрована</span></p>
        }
        else
        {
            <p><span class="text-success">Определена цепочка перенаправлений</span></p>
        }
        
        foreach (string item in @Model.OutUrl)
        {
            <a href="@item" target="_blank">@item</a><br />
        }
        <br />

        if (@Model.InAntivirus)
        {
            if (@Model.OutAntivirusStatus == AntivirusStatusType.Error)
            {
                <p><span class="text-warning">Ошибка проверки на вирусы</span></p>
            }
            else if (@Model.OutAntivirusStatus == AntivirusStatusType.Clear)
            {
                <p><span class="text-success">Вирусы не найдены</span></p>
                <p>@Html.Raw(@Model.OutAntivirusMessage)</p>
            }
            else
            {
                <p><span class="text-danger">Обнаружены вирусы</span></p>
                <p>@Html.Raw(@Model.OutAntivirusMessage)</p>
            }
        }
    }
}