@using System.Linq
@model LongUrl.ViewModels.IndexViewModel

@if (@Model != null)
{
    if (!@Model.OutSuccess)
    {
        <div class="alert alert-warning" role="alert">
            Произошла ошибка при расшифровке сслылки. Проверьте правильность ввода данных.
        </div>
    }

    else if (@Model.OutUrl != null && @Model.OutUrl.Any())
    {
        if (Model.OutUrl.Count == 1)
        {
            <p class="font-weight-bold text-success">Короткая ссылка успешно расшифрована</p>
        }
        else if (Model.OutUrl.Count > 1 && Model.InMultiUrl)
        {
            <p class="font-weight-bold text-success">Короткие ссылки расшифрованы</p>
        }
        else
        {
            <p class="font-weight-bold text-success">Определена цепочка перенаправлений</p>
        }

        foreach (string item in @Model.OutUrl)
        {
            <a href="@item" target="_blank">@item</a>
            <br />
        }

        <div class="space"></div>

        if (@Model.InAntivirus && !Model.InMultiUrl)
        {
            if (@Model.OutSafeBrowsing)
            {
                <p class="gsb">
                    <span class="virusOff">Безопасная ссылка</span>
                    <span class="rem"> проверено <a href="https://www.google.com/transparencyreport/safebrowsing" target="_blank" title="Безопасный поиск Google">Google</a></span>
                </p>
            }
            else
            {
                <p class="gsb">
                    <span class="virusOn">Небезопасная ссылка</span>
                    <span class="rem"> проверено <a href="https://www.google.com/transparencyreport/safebrowsing" target="_blank" title="Безопасный поиск Google">Google</a></span>
                </p>
            }

            if (@Model.OutAntivirusStatus == AntivirusStatusType.Error)
            {
                <p class="drweb">
                    <span class="font-weight-bold text-info" style="padding-left: 40px;">Ошибка проверки на вирусы</span>
                </p>
            }
            else if (@Model.OutAntivirusStatus == AntivirusStatusType.Clear)
            {
                <p class="drweb">
                    <span class="virusOff">Вирусы не найдены</span>
                    <span class="rem"> проверено <a href="http://www.drweb.com" target="_blank" title="Антивирус Dr.Web">Dr.Web</a></span>
                    <a class="btn btn-link btn-log" data-toggle="collapse" href="#log" role="button" aria-expanded="false" aria-controls="log">Показать/скрыть подробности</a>
                </p>
                <div class="collapse" id="log">
                    <div class="card card-body" style="font-size: small;">@Html.Raw(@Model.OutAntivirusMessage)</div>
                </div>
                <div class="space"></div>
            }
            else
            {
                <p class="drweb">
                    <span class="virusOn">Обнаружены вирусы</span>
                    <span class="rem"> проверено <a href="http://www.drweb.com" target="_blank" title="Антивирус Dr.Web">Dr.Web</a></span>
                    <a class="btn btn-link btn-log" data-toggle="collapse" href="#log" role="button" aria-expanded="false" aria-controls="log">Показать/скрыть подробности</a>
                </p>
                <div class="collapse" id="log">
                    <div class="card card-body" style="font-size: small;">@Html.Raw(@Model.OutAntivirusMessage)</div>
                </div>
                <div class="space"></div>
            }
        }
    }
}